* {
    padding: none;
}


body {
    /* TOGGLE GREY BACKGROUND OFF FOR PRINTING */
    background: rgb(204,204,204); 
    /* background: white; */
    margin: 0;
  }
  page {
    background: white;
    display: block;
    margin: 0;
    /* margin-top: 0.5cm;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5cm; */
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }
  page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;  
  }



#grid {
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: 1fr 5fr;
    margin: 15px;
    /* border: 4px solid black; */
    height: auto;
    max-height: 95%;
    width: auto;
    top: 0.1cm;
    /* padding-top: 0.3cm; */
    place-content: center;
    box-sizing: border-box;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-row: 1;
    grid-column: 1 / span 2;
    text-align: center;
    justify-content: center;
    /* margin: 10px; */
    /* border: 4px solid black; */
}

#header-text {
    color: #3D405B;
    align-items: center;
    margin: auto auto auto 0;
    max-width: 65%;
    
}

h1 {
    font-family: 'Roboto Slab', Serif;
    color: #3D405B;
    font-size: 2.5em;
    line-height: 0.5em;
    text-shadow: 2px 2px rgba(61, 64, 91, 0.5);
}

h2 {
    font-family: 'work sans';
    color: #3D405B;
    font-weight: normal;
    line-height: 0.5em;
}

h3 {
    font-family: 'Roboto Slab';
    color: #3D405B;
    margin: 0.5em 0 0;
    text-shadow: 1px 1px rgba(61, 64, 91, 0.5);
}


#pic-container {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    text-align: center;
    /* background-image: url('images/bh-photo.jpg'); */
    /* background-size: cover; */
}

#profile-pic {
    width: 150px;
    height: 150px;
    grid-column: 1;
    border: 3px solid #3D405B;
    border-radius: 100%;
    margin: 50px 30px 2px auto;
    /* box-shadow: 3px 3px rgba(61, 64, 91, 0.5); */
}

hr {
    border: 1px solid #3D405B;
}

#header-contact {
    display: flex;
    flex-direction: row;
    color: #3D405B;
}

.contact {
    margin-right: 10px;
    font-family: 'work sans';
    font-size: 0.8em;
}

a {
    color: #3D405B;
}


.column {
    width: auto;
    height: auto;
    text-align: center;
}

#left-container {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 4px;
}

#right-container {
    border-left: 3px solid #3D405B;
    margin-bottom: 4px;

}

.content-container {
    width: 92%;
    margin: 8px 8px;
    margin-bottom: 0;
    border: 3px solid #3D405B;
    box-shadow: 3px 3px rgba(61, 64, 91, 0.5)
}

.content-container.tech {
    /* border: 3px solid #81B29A; */
    box-shadow: 3px 3px rgba(129, 178, 154, 0.5);
}

.content-container.qa {
    /* border: 3px solid #FCA311; */
    box-shadow: 3px 3px rgba(252, 163, 17, 0.5)
}

.content-container.pm {
    /* border: 3px solid #D4A0A7; */
    box-shadow: 3px 3px rgba(212, 160, 167, 0.5);
}

.content-header {
    background-color: #81B29A;
    /* border-bottom: 3px solid #3D405B; */
}

.content-header> .tech {
    background-color: #81B29A;
}

.content-header> .qa {
    background-color: #FCA311;
}

.content-header> .pm {
    background-color: #D4A0A7;
}

.content-title {
    background-color: #3D405B;
    color: white;
    font-family: 'Roboto Slab';
    font-size: 0.9em;
    font-weight: bold;
    text-align: left;
    text-shadow: 1px 1px #3D405B;
    padding-left: 5px;
    padding-bottom: 2.5px;
    border: 1px solid #3D405B;
}

.content-subtitle {
    background-color: #3D405B;
    color: white;
    font-family: 'Work Sans';
    font-size: 0.8em;
    text-align: left;
    text-shadow: 0.5px 0.5px #3D405B;
    padding-left: 5px;
    padding-bottom: 2.5px;
    border: 1px solid #3D405B;
}

.content-title.tech, .content-subtitle.tech {
    background-color: #81B29A;
    border: 1px solid #81B29A;
}

.content-title.qa, .content-subtitle.qa {
    background-color: #FCA311;
    border: 1px solid #FCA311;
}

.content-title.pm, .content-subtitle.pm {
    background-color: #D4A0A7;
    border: 1px solid #D4A0A7;
}

.content-title.yellow {
    background-color: #F9C74F;
    border: 1px solid #F9C74F;
}

.content-title.orange {
    background-color: #F8961E;
    border: 1px solid #F8961E;
}


.content-text {
    margin: 5px 5px;
    color: #3D405B;
    font-family: 'Work Sans';
    font-size: 0.7em;
    line-height: 1.1em;
    text-align: left;
}

ul {
    line-height: 1.1em;
    margin: 15px 0;
    padding-left: 25px;
    padding-right: 5px;
}
